APP_NAME=CyberUNESR
APP_ENV=local
APP_KEY=base64:euYFO38/BMxCtZwv3L4wU5Ojib4OEMeWzns4BxFeCYE=
APP_DEBUG=true
APP_URL=http://proyecto.test

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=proyecto
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=9de803e118a1ea
MAIL_PASSWORD=7ef999ad47945d
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=admincyberunesr@gmail.com
MAIL_FROM_NAME="Administración CyberUNESR"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=AQyd-m0ClEnIpa63vUaYDHoV4B29CEZDy2l6bs8taQWtYQCwfBAFm74lIhUmYqEv4rzrtU0a8CIANfXi
PAYPAL_CLIENT_SECRET=EG7gPTkKYspEZLloczxcI8OaskJmlHL0K6_8_XkTIbkU5dHoLm_sdAppQZNFDnVaKVVbQCKIoOAi5ab9
